@import scala.concurrent.ExecutionContext.Implicits.global
@views.html.common.header("")
<div class="container" role="main">
    <div class="page-header">
        <h1>login</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">

            </table>
        </div>
        <div class="col-md-4">
            <form action="/login" method="POST">
            <table class="table">
                <tr>
                    <th>ID:</th>
                    <td><input type="text" name="email" /></td>
                </tr>
                <tr>
                    <th>PASS:</th>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="login" />
                    </th>
                </tr>
            </table>
            </form>
        </div>
        <div class="col-md-4">
            <table class="table">

            </table>
        </div>
    </div>
@views.html.common.footer()