@views.html.common.header("main")

<div class="container" role="main">
    <div class="page-header">
        <h1>DNAF Admin</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table id="serviceStatusList" class="table">

            </table>
        </div>
        <div class="col-md-4">
            <table class="table" id="crawStatusList">

            </table>
        </div>
        <div class="col-md-4">
            <table class="table">

            </table>
        </div>
    </div>
@views.html.common.footer()